.footer__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(minmax(min-content, max-content));
  column-gap: 100px;
  row-gap: 70px;
}

@media screen and (max-width: 1440px) {
  .footer__grid {
    column-gap: 6.94vw;
    row-gap: 4.86vw;
  }
}

@media screen and (max-width: 660px) {
  .footer__grid {
    display: block;
  }
}
