.page {
  max-width: 880px;
  min-width: 282px;
  padding: 0 50px;
  margin: 0 auto;
  font-family: 'Neue Montreal', Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
