.page {
  max-width: 1240px;
  min-width: 350px;
  padding: 0 50px;
  margin: 0 auto;
  font-family: 'Neue Montreal', Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1440px) {
  .page {
    max-width: 86.60vw;
  }
}

@media screen and (max-width: 660px) {
  .page {
    padding: 0;
    max-width: 89.74vw;
  }
}
