.page__header {
  padding-top: 50px;
}

@media screen and (max-width: 660px) {
  .page__header {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-top: -31px;
    position: fixed;
    background-color: #202020;
    z-index: 50;
  }
}
