.advantages__item:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (max-width: 1440px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 2.78vw;
  }
}

@media screen and (max-width: 660px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
