.footer__info {
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 1440px) {
  .footer__info {
    font-size: 1.25vw;
    line-height: 1.53vw;
  }
}

@media screen and (max-width: 660px) {
  .footer__info {
    font-size: 14px;
    line-height: 17px;
  }
}
