.discuss {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 70px;
}

@media screen and (max-width: 1440px) {
  .discuss {
    row-gap: 4.86vw;
  }
}

@media screen and (max-width: 660px) {
  .discuss {
    row-gap: 35px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 446px) {
  .discuss {
    width: auto;
  }
}
