.advantages__title {
  margin-bottom: 70px;
}

@media screen and (max-width: 1440px) {
  .advantages__title {
    margin-bottom: 4.86vw;
  }
}

@media screen and (max-width: 660px) {
  .advantages__title {
    margin-bottom: 35px;
  }
}
