.numbers__number {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}

@media screen and (max-width: 1440px) {
  .numbers__number {
    margin-bottom: 1.39vw;
    font-size: 2.78vw;
    line-height: 3.33vw;
  }
}

@media screen and (max-width: 660px) {
  .numbers__number {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}
