.customers__photo {
  background-size: cover;
  position: absolute;
  z-index: -1;
  height: 167px;
  top: -25px;
}

@media screen and (max-width: 1440px) {
  .customers__photo {
    height: 11.60vw;
    top: -1.74vw;
  }
}

@media screen and (max-width: 660px) {
  .customers__photo {
    height: 83px;
    top: -10px;
  }
}
