.advantages__container {
  display: flex;
  column-gap: 100px;
}

@media screen and (max-width: 1440px) {
  .advantages__container {
    column-gap: 6.94vw;
  }
}

@media screen and (max-width: 660px) {
  .advantages__container {
    flex-direction: column;
    align-items: center;
    row-gap: 35px;
  }
}
