.advantages__subtitle {
  padding-top: 70px;
}

@media screen and (max-width: 1440px) {
  .advantages__subtitle {
    padding-top: 4.86vw;
  }
}

@media screen and (max-width: 660px) {
  .advantages__subtitle {
    padding-top: 35px;
  }
}


