.about__title {
  margin: 0;
  color: #BFE55E;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 72px;
  font-weight: 400;
}

@media screen and (max-width: 1440px) {
  .about__title {
    font-size: 4.17vw;
    line-height: 5vw;
  }
}

@media screen and (max-width: 660px) {
  .about__title {
    font-size: 30px;
    line-height: 36px;
  }
}
