.numbers__item {
  padding-bottom: 40px;
  border-bottom: 1px solid #F3FFCE;
}

.numbers__item:nth-child(odd) {
  text-align: right;
}

@media screen and (max-width: 1440px) {
  .numbers__item {
    padding-bottom: 2.78vw;
  }
}

@media screen and (max-width: 660px) {
  .numbers__item {
    padding-bottom: 10px;
    text-align: left;
    padding-left: 76px;
  }

  .numbers__item:nth-child(odd) {
    text-align: left;
  }
}
