@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);

@import url(../blocks/page/__header/page__header.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/nav/nav.css);
@import url(../blocks/nav/__item/nav__item.css);
@import url(../blocks/nav/__link/nav__link.css);
@import url(../blocks/header/__burger/header__burger.css);

@import url(../blocks/page/__content/page__content.css);
@import url(../blocks/content/content.css);

@import url(../blocks/main/main.css);
@import url(../blocks/main/__country/main__country.css);
@import url(../blocks/main/__text-container/main__text-container.css);
@import url(../blocks/main/__title/main__title.css);
@import url(../blocks/main/__subtitle/main__subtitle.css);
@import url(../blocks/main/__photo/main__photo.css);
@import url(../blocks/main/__work-text/main__work-text.css);
@import url(../blocks/main/__button/main__button.css);

@import url(../blocks/content/__about/content__about.css);
@import url(../blocks/about/about.css);
@import url(../blocks/about/__container/about__container.css);
@import url(../blocks/about/__title/about__title.css);
@import url(../blocks/about/__subtitle/about__subtitle.css);
@import url(../blocks/about/__photo-1/about__photo-1.css);
@import url(../blocks/about/__text/about__text.css);
@import url(../blocks/about/__photo-2/about__photo-2.css);
@import url(../blocks/about/__subtext/about__subtext.css);

@import url(../blocks/_green.css);
@import url(../blocks/_italic.css);
