.customers__photo-5 {
  width: 346px;
  background-image: url(../../../images/services.png);
  background-size: cover;
  background-position: center;
  left: 446px;
}

@media screen and (max-width: 1440px) {
  .customers__photo-5 {
    width: 24.03vw;
    left: 30.97vw;
  }
}

@media screen and (max-width: 660px) {
  .customers__photo-5 {
    width: 172px;
    left: 135px;
  }
}
