.button {
  padding: 0;
  display: block;
  width: 65px;
  height: 65px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/btn-arrow.svg);
  background-size: cover;
}

@media screen and (max-width: 1440px) {
  .button {
    width: 4.51vw;
    height: 4.51vw;
  }
}

@media screen and (max-width: 660px) {
  .button {
    width: 30px;
    height: 30px;
  }
}
