.advantages__text {
  margin: 20px 0 0 50px;
}

@media screen and (max-width: 1440px) {
  .advantages__text {
    margin: 1.39vw 0 0 3.47vw;
  }
}

@media screen and (max-width: 660px) {
  .advantages__text {
    margin: 10px 0 0 31px;
  }
}
